#container-countdown {
    display: flex;
    justify-content: center;
}

#countdown {
    font-size: 60px;
    margin-top: 80px;
    background: rgb(230,63,251);
    background: linear-gradient(90deg, rgba(230,63,251,1) 0%, rgba(252,70,107,1) 100%);
    border-radius: 30px;
    padding: 25px;
    font-family: "Nunito", serif;
    width: 40%;
    display: flex;
    justify-content: center;
}

#myVideo {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}

#myButton {
    display: none;
}

@media all and (max-width: 500px) {
    #myButton {
        padding: 15px;
        background: #D4EBF8;
        border-radius: 30px;
        display: block;
        background: rgb(230,63,251);
        background: linear-gradient(90deg, rgba(230,63,251,1) 0%, rgba(252,70,107,1) 100%);
    }

    #countdown {
        font-size: 40px;
        padding: 15px;
    }
}